<div class="relative flex flex-col w-full min-h-100 h-full border-gray-200 border-1 rounded p-6 shadow-lg">
  <div class="flex animate-pulse space-x-4">
    <div class="flex-1 space-y-6 py-1">
      <div class="h-2 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
      <br>
      <div class="h-2 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
      <br>
      <div class="h-2 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
    </div>
  </div>
</div>