<main class="font-times flex flex-col min-h-screen">
  <header>
    <nav class="text-amber-100 w-full min-h-20 md:min-h-30 bg-red-950 grid place-content-center">
      <h1 class="text-4xl md:text-5xl">
        <a href="/">
          <span class="text-sky-500">F</span>ake
          <span class="text-sky-500">N</span>ews of the
          <span class="text-sky-500">D</span>ay</a>
      </h1>
      <p class="text-center">(By OpenAI)</p>
    </nav>
  </header>

  <main class="flex-1">
    <!--  Formulario -->
    <section>
      <div class="m-4 flex gap-4 items-center justify-center flex-col md:flex-row">
        <label class="text-xl w-auto tracking-wide" for="about">¿Sobre que te gustarían las noticias?</label>
        <form class="relative w-full md:w-80" (ngSubmit)="getNewsAbout()">
          <input class="w-full md:w-80 h-10 border border-gray-200 rounded-3xl py-1 px-4 
      hover:border-gray-400 focus:outline-none focus:border-gray-500 focus:ring-2 focus:ring-gray-200"
            [(ngModel)]="about" type="text" name="about" id="about" placeholder="Buscar noticias..." autocomplete=false>

          <button class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400 hover:cursor-pointer"
            type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-4.35-4.35M16 10a6 6 0 1 0-12 0 6 6 0 0 0 12 0z" />
            </svg>
          </button>
        </form>
      </div>
    </section>

    <!--  Bloque noticias -->
    <section>
      <div class="m-4 grid gap-5 grid-cols-auto md:grid-cols-2 lg:grid-cols-3 transition-all duration-500 opacity-0"
        [class.opacity-100]="news() && news().length !== 0">
        @for (n of news(); track $index) {
        <app-card-news [news]="n" />
        }
      </div>

      <div class="m-4 grid gap-5 grid-cols-auto md:grid-cols-2 lg:grid-cols-3" [class.hidden]="news() && news().length !== 0">
        <app-card-spinner />
        <app-card-spinner class=" hidden md:inline" />
        <app-card-spinner class="hidden md:inline" />
      </div>
    </section>

  </main>

  <footer>
    <div class="w-full h-12 bg-red-950 flex flex-col justify-center text-amber-100 text-center">
      <p class="content-center">&copy; 2025 - Andres Mariano Fernández</p>
      <a class="content-center hover:underline hover:text-sky-400" href="https://amf-dev.site" target="_blank">
        amf-dev.site
      </a>
    </div>
  </footer>
</main>